# .env
PORT=4000
DB_PORT=3306
DB_HOST=127.0.0.1
DB_USER=vlad
DB_PASS=ASdasd
DB_NAME=db
LIQPAY_PUBKEY=sandbox_i98199asdasasda123123
LIQPAY_PRIVATEKEY=sandbox_abasdasdasd
TELEGRAM_BOT_TOKEN=1231231231231
TELEGRAM_CHAT_ID=212312312