.map {
    width: 100%;
    max-width: 1024px;
    aspect-ratio: 1 / 1;
    margin: 0 auto;
    background-image: url("../../../../src/media/map.png");
    background-size: cover;
    position: relative;
}
.map .place {
    position: absolute;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background:#fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.heading {
    text-align: center;
    margin-top: 28px;
}

.placeDetails {

}
.freePlace {
    border: 4px solid green;
}
.busyPlace {
    border: 4px solid red;
    pointer-events: none;
}