.header {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ccc;
    padding: 0 20px 0 0;
}
.header nav {
    display: flex;
    column-gap: 20px;
}
.header img {
    width: 80px;
    height: 80px;
    object-position: 0 4px;
}

@media (max-width: 768px) {
    .header nav {
        column-gap: 12px;
    }
    .header {
        padding-left: 0px;
        height: 60px;
    }
    .header a {
        font-size: 14px;
    }
    .header img {
        object-position: 0 4px;
        height: 60px;
        width: 60px;
    }
}
